:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
  --main-bgd-color: #fff;
  --bgd-color: #2196f3;
  --secondary-color: #f5f4fa;
  --accent-color: #2f303a;
  --frame-color: #188ce8;
  --footer-color: rgba(255, 255, 255, 0.6);
  --typical-padding: 94px;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  background-color: var(--main-bgd-color);
  font-size: 14px;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

header {
  border-bottom: 1px solid #ececec;
}

/* logo */
.logo {
  font-family: Raleway;
  color: var(--bgd-color);
  font-size: 26px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo span,
.footer-logo span {
  color: var(--title-text-color);
}

/* nav */
.mean-nav {
  display: flex;
  align-items: center;
}

.header-nav {
  display: flex;
}

.site-item {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.site-item .item + .item {
  margin-left: 50px;
}

.site-item .link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;

  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
}

.site-item .link:hover,
.site-item .link:focus {
  color: var(--bgd-color);
}

.link.current {
  color: var(--bgd-color);
}

.header-contact {
  display: flex;
  margin-left: auto;
}

.header-contact .item + .item {
  margin-left: 50px;
}

.header-contact .link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  text-decoration: none;
  align-items: center;
}

.contact.link {
  display: flex;
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
}

.contact.link:hover {
  color: var(--bgd-color);
  
}

.contact.link-icon {
  fill: currentColor;
  margin-right: 10px;
}

/* Hero */
.hero {
  max-width: 1600px;
  height: 600px;
  margin: auto;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero.jpg);

  background-repeat: no-repeat;
  background-position: center;
  background-size: 1600px, 1600px, cover;

  background-color: #c4c4c4;
  text-align: center;
  padding: 200px 0;
}

.hero-title {
  color: var(--main-bgd-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
}

/* button */
.button-button {
  cursor: pointer;
  color: var(--main-bgd-color);
  background-color: var(--bgd-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;

  align-items: center;
  width: 200px;
  height: 50px;

  display: inline-block;

  border-radius: 4px;
  border: 1px solid transparent;
}

.button-button:hover,
.button-button:focus {
  background-color: var(--frame-color);
}

.button-primary {
  cursor: pointer;
  color: var(--title-text-color);
  background-color: var(--secondary-color);
  border: transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;

  border-radius: 4px;
  border: 1px solid transparent;
  padding: 6px 22px;
}

.button-primary:hover,
.button-primary:focus {
  color: var(--main-bgd-color);
  background-color: var(--bgd-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*  portfolio button */
.list-button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.list-button .item + .item {
  margin-left: 8px;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* section (features) */
.section {
  padding-top: var(--typical-padding);
  padding-bottom: var(--typical-padding);
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.icon::before {
  content: "";
  display: block;
  height: 120px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}

.antenna::before {
  background-image: url(../images/antenna.svg);
}
.astronaut::before {
  background-image: url(../images/clock.svg);
}
.clock::before {
  background-image: url(../images/diagram.svg);
}
.diagram::before {
  background-image: url(../images/astronaut.svg);
}

.features-title {
  color: var(--title-text-color);
  font-weight: 700;
  line-height: 1.2;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.features-title-text {
  line-height: 1.7;
  max-width: 270px;
}

.section.class {
  padding-top: 0;
}

.gallery {
  display: flex;
  justify-content: space-between;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 50px;
  text-align: center;
}

.section.list {
  background-color: var(--secondary-color);
}

/* portfolio section */
.gallery-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.gallery-list .item {
  flex-basis: calc((100% - 90px) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.gallery-link:hover, .gallery-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    display: block;
}

.container-title {
  padding: 20px 24px;
  box-sizing: border-box;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* work */
.work {
  background: var(--main-bgd-color);

  padding: 30px 0;
}

.links-img {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.work-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  color: var(--title-text-color);
  margin-bottom: 10px;
  text-align: center;
}

.work-title-profession {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 16px;
}

.work-soc-list {
  display: flex;
  justify-content: center;
}

.work-soc-item + .work-soc-item {
  margin-left: 10px;
}

.work-soc-link {
  width: 44px;
  height: 44px;
  background-color: var(--main-bgd-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
}
.work-soc-icon {
  fill: currentColor;
}
.work-soc-link:hover,
.work-soc-link:focus {
  color: var(--main-bgd-color);
  background-color: var(--bgd-color);
}

/* section clients */
.clients-soc-list {
  display: flex;
  justify-content: space-between;
}
.clients-soc-link {
  width: 170px;
  height: 92px;
  display: flex;
  justify-content: center;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  color: #afb1b8;
  cursor: pointer;
  align-items: center;
}
.clients-soc-icon {
  fill: currentColor;
  }

  .clients-soc-link:hover,
  .clients-soc-link:focus {
    color: var(--bgd-color);
    border-color: var(--bgd-color);
  }

/*  adress  */
.contact-adress {
  color: var(--secondary-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.form {
  background-color: var(--accent-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-logo {
  font-family: Raleway;
  color: var(--bgd-color);
  font-size: 26px;
  line-height: 1.2;
  margin-bottom: 20px;
}

.form span {
  color: var(--secondary-color);
}
.form > .container {
  display: flex;
  align-items: baseline;
}

.links-footer {
  margin-left: 70px;
}

.text-footer {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bgd-color);
  margin-bottom: 20px;
}

.footer-soc-icon {
  fill: var(--main-bgd-color);
}
.footer-soc-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #afb1b8;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: rgba(33, 150, 243, 1);
}

/* Портфолио */
.title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  margin-bottom: 4px;
}

.text {
  font-size: 16px;
  line-height: 1.88;
}

.contact .link-footer {
  font-family: "Roboto";
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: var(--footer-color);
  text-decoration: none;
}
.contact .link-footer:hover {
  color: var(--bgd-color);
}

.contact .item:not(:last-child) {
  margin-bottom: 9px;
}
